<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add Category</h3>
    </div>

    <%= form_tag('category/saveCat') do %>
        <div class="modal-body">
          <%= label_tag :name %>
          <%= text_field_tag :catName, nil, :placeholder => "Category Name" %> <br/><br/>
          <%= label_tag :department %>
          <%= radio_button_tag 'dept', true %> Yes<br>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Save changes</button>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    <% end %>
  </div>
</div>


