<div class="container-fluid">
  <div class="text-center">
    <h1>Admin Home</h1>
  </div>
  <section class="content">
    <div class="box">
    <div class="box-header">
      Calendars Management
    </div>
    <div class="box-content">
      <div class="content-inner">
        <fieldset>
          <div class="row-fluid section-row">
            <table class="table center-align-header table-stripped table-bordered table-hover table-condensed ">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Calendar Name
                </th>
                <th>
                  Calendar ID
                </th>
                <th>
                  Action 1
                </th>
                <th>
                  Action 2
                </th>
              </tr>
              <% @cal.each do |currCal| %>
                  <tr>
                    <td><%= currCal.id %></td>
                    <td><%= currCal.name %></td>
                    <td><%= currCal.Calid %></td>
                    <% val=Category.find(currCal.category_id) %>
                    <td><%= val.name %></td>
                    <td><%= link_to 'Delete', {:action => 'Delete', :id => currCal.id}, :confirm => "Are you sure you want to delete this Calendar?" %></td>
                    <td><%= link_to 'Edit', {:action => 'Edit', :id => currCal.id} %></td>
                  </tr>
              <% end %>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
    </div>

    <div class="box">
    <div class="box-header">
      Category Management
    </div>
    <div class="box-content">
      <div class="content-inner">
        <fieldset>
          <div class="row-fluid section-row">
            <table class="table center-align-header table-stripped table-bordered table-hover table-condensed ">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Category
                </th>
                <th>
                  Action 1
                </th>
                <th>
                  Action 2
                </th>
              </tr>
              <% @cat.each do |currCat| %>
                  <tr>
                    <td><%= currCat.id %></td>
                    <td><%= currCat.name %></td>
                    <td><%= link_to 'Delete', {:action => 'delete', :id => currCat.id}, :confirm => "Are you sure you want to delete this Calendar?" %></td>
                    <td><%= link_to 'Edit', {:action => 'edit', :id => currCat.id} %></td>
                  </tr>
              <% end %>
            </table>
          </div>
        </fieldset>
      </div>
    </div>
    </div>
  </section>
</div>




<h3>Calendar Details</h3>
<table border="1" title="Calendar Details">
  <tr>
    <td>ID</td>
    <td>Calendar Name</td>
    <td>Calendar ID</td>
    <td>Category</td>
    <td>Action 1</td>
    <td>Action 2</td>
  </tr>
  <% @cal.each do |car| %>
      <tr>
        <td><%= car.id %></td>
        <td><%= car.name %></td>
        <td><%= car.Calid %></td>
        <% val=Category.find(car.category_id) %>
        <td><%= val.name %></td>
        <td><%= link_to 'Delete', {:action => 'Delete', :id => car.id}, :confirm => "Are you sure you want to delete this Calendar?" %></td>
        <td><%= link_to 'Edit', {:action => 'Edit', :id => car.id} %></td>
      </tr>
  <% end %>
</table>
<%= form_tag ('/users/Submit') do %>

    <%= label_tag :name %>
    <%= text_field_tag :name1, 'Calendar Name' %>  <br>
    <%= label_tag :Calid %>
    <%= text_field_tag :Calid1, 'Calendar ID' %>     <br>
    <%= label_tag :category %>
    <%= text_field_tag :category1, 'Category' %>    <br>

    <%= submit_tag "Save changes" %>
<% end %>
<h3>Category Details</h3>
<table border="1" title="Category Details">
  <tr>
    <td>ID</td>
    <td>Category</td>
    <td>Action 1</td>
    <td>Action 2</td>
  </tr>
  <% @cat.each do |cas| %>
      <tr>
        <td><%= cas.id %></td>
        <td><%= cas.name %></td>
        <td><%= link_to 'Delete', {:action => 'delete', :id => cas.id}, :confirm => "Are you sure you want to delete this Calendar?" %></td>
        <td><%= link_to 'Edit', {:action => 'edit', :id => cas.id} %></td>
      </tr>
  <% end %>
</table>
<%= form_tag ('/users/Savec') do %>
    <%= label_tag :name %>
    <%= text_field_tag :name1, 'Category Name' %><br>
    <%= label_tag :department %>
    <%= radio_button_tag 'dept', true%> Yes<br>
    <%= submit_tag "Save changes" %>
<% end %>