<div class="container-fluid">

  <div class="text-center">
    <h1>Admin Home</h1>
  </div>
  <section id="content">
    <div class="box">
      <div class="box-header">
        Calendars Management
        <%= link_to 'Add Calendar', {:action => 'addCal', :controller => 'calendar'},
                    :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window',
                    :class => "btn btn-info btn-sm pull-right", :style => 'margin: -5px 10px' %>
      </div>
      <div class="box-content">
        <div class="content-inner">
          <fieldset>
            <div class="row-fluid section-row">
              <table class="table center-align-header table-stripped table-bordered table-hover table-condensed ">
                <tr>
                  <th class="col-md-1">
                    ID
                  </th>
                  <th class="col-md-3">
                    Calendar Name
                  </th>
                  <th class="col-md-3">
                    Calendar ID
                  </th>
                  <th class="col-md-2">
                    Category
                  </th>
                  <th class="col-md-2">

                  </th>
                </tr>
                <% @cal.each do |currCal| %>
                    <tr>
                      <td><%= currCal.id %></td>
                      <td><%= currCal.name %></td>
                      <td><%= currCal.Calid %></td>
                      <% val=Category.find(currCal.category_id) %>
                      <td><%= val.name %></td>
                      <td>
                        <%= link_to 'Edit', {:action => 'editCal', :controller => 'calendar', :id => currCal.id}, :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :class => "btn btn-primary btn-xs" %>
                        <%= link_to 'Delete', {:action => 'deleteConfirm', :controller => 'calendar', :id => currCal.id}, :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :class => "btn btn-danger btn-xs" %>
                      </td>
                    </tr>
                <% end %>
              </table>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="box-header">
        Category Management
        <%= link_to 'Add Category', {:action => 'addCat', :controller => 'category'},
                    :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window',
                    :class => "btn btn-info btn-sm pull-right", :style => 'margin: -5px 10px' %>
      </div>
      <div class="box-content">
        <div class="content-inner">
          <fieldset>
            <div class="row-fluid section-row">
              <table class="table center-align-header table-stripped table-bordered table-hover table-condensed ">
                <tr>
                  <th class="col-md-1">
                    ID
                  </th>
                  <th class="col-md-5">
                    Category
                  </th>
                  <th class="col-md-2">
                  </th>
                </tr>
                <% @cat.each do |currCat| %>
                    <tr>
                      <td><%= currCat.id %></td>
                      <td><%= currCat.name %></td>
                      <td>
                        <%= link_to 'Edit', {:action => 'edit', :controller => 'category', :id => currCat.id}, :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :class => "btn btn-primary btn-xs" %>
                        <%= link_to 'Delete', {:action => 'deleteConfirm', :controller => 'category', :id => currCat.id}, :remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', :class => "btn btn-danger btn-xs" %>
                      </td>
                    </tr>
                <% end %>
              </table>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </section>

</div>
