<div class="container">
  <section id="content">
    <%= form_tag do%>
      <h1>My Wolfpack Guide</h1>
      <div>
        <%= text_field_tag 'user', nil, :required => true %>
      </div>
      <div>
        <%= password_field_tag 'password', nil, :required => true %>
      </div>
      <div>
        <%= submit_tag 'Login'%>
        <%= link_to "Register", 'users/new', :id => "registerLink"%>
      </div>
    <% end %> <!-- form -->
  </section><!-- content -->
</div><!-- container -->

