<div class="container">
  <section id="content">
    <%= form_tag do%>
      <h1>My Wolfpack Guide</h1>
      <div>
        <%= text_field_tag 'user', nil, :required => true, :placeholder => "User Name"%>
      </div>
      <div>
        <%= password_field_tag 'password', nil, :required => true, :placeholder => "Password" %>
      </div>
      <div class="row">
        <%= submit_tag 'Login'%>
        <%= link_to "Register", 'users/new', :class => "btn btn-success", :id => "registerLink"%>
      </div>
    <% end %> <!-- form -->
  </section><!-- content -->
</div><!-- container -->

