<!DOCTYPE html>
<html>
<head>
  <title>My Wolfpack Guide</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "mywolfpackstyle" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%- if(!session[:uid].nil?) %>
	<%= link_to 'Logout', {:action => 'logout'} %>
<%- end %>

<%= yield %>

</body>
</html>
